ng-include(src="'views/nav.html'")
div#page-wrapper
	br
	div.row
		div.col-lg-12
			.panel.panel-primary
				.panel-heading
					h3.panel-title.text-center Fan Assembling
				.panel-body
					.col-sm-10.col-lg-offset-2
						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							div.row
								label.col-lg-3(
								class='control-label',
								for='selectPressure')
									| Select Pressure
								div.col-lg-6
									select.form-control(ng-model='data.FanAssemblies.Pressure_Difference',autofocus)
										option(value='') Select Pressure..
										option(value='0') Lines 0,3(Fan with Pressure Losses at both sides)
										option(value='1') Lines 0,2(Fan with Pressure Losses at inlet)
										option(value='2') Lines 1,3(Fan with Pressure Losses at outlet)
										option(value='3') Lines 1,2(Only the Fan)
									small.help-block(
									ng-show='newProject.selectPressure.$invalid && newProject.selectPressure.$dirty')
										| Select Pressure is required
						.form-group(ng-show='lines.onlyfan')
							a.btn.btn-primary.pull-left(href='#/{{state}}/operatingPoint') Previous
							a.btn.btn-primary.pull-right(href='#/{{state}}/materialControl') Next

				.panel-heading(ng-hide='lines.faninlet')
					h3.panel-title.text-center Resistant Coefficients Inletside
				.panel-body(ng-hide='lines.faninlet')
					.col-sm-10.col-lg-offset-2
						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							div.row
								label.col-lg-5(
								class='control-label',
								for='selectPressure')
									| Inlet Sound Silencer losses Coefficient :
								div.col-lg-2
									select(class='form-control',ng-model='data.FanAssemblies.InletSoundSilencer',ng-options='unit.Value as unit.DisplayText for unit in inletSilencer | filter:{ParentId:10} | orderBy:"DisplayText"')

						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							div.row
								label.col-lg-5(
								class='control-label',
								for='selectPressure')
									| Inlet Box losses Coefficient :
								div.col-lg-2
									select(class='form-control',ng-model='data.FanAssemblies.InletBox',ng-options='unit.Value as unit.DisplayText for unit in inletSilencer | filter:{ParentId:11} | orderBy:"DisplayText"')



						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							div.row
								label.col-lg-5(
								class='control-label',
								for='selectPressure')
									| Other Inlet losses Coefficient :
								div.col-lg-2
									select(class='form-control',ng-model='data.FanAssemblies.InletOtherParts',ng-options='unit.Value as unit.DisplayText for unit in inletSilencer | filter:{ParentId:12} | orderBy:"DisplayText"')

						.form-group(ng-show='lines.onlyinlet')
							a.btn.btn-primary.pull-left(href='#/{{state}}/operatingPoint') Previous
							a.btn.btn-primary.pull-right(href='#/{{state}}/materialControl') Next
				.panel-heading(ng-hide='lines.fanoutlet')
					h3.panel-title.text-center Resistant Coefficients Outletside
				.panel-body(ng-hide='lines.fanoutlet')
					.col-lg-10.col-lg-offset-2
						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							div.row
								label.col-lg-5(
								class='control-label',
								for='selectPressure')
									| Evase ,Inlet/Outlet area ratio :
								div.col-lg-2
									input#dynamicViscosity(
									class='form-control ',
									type='text',
									name='dynamicViscosity',
									ng-model='data.FanAssemblies.EvaseOutlet_InletAreaRatio',
									placeholder='Enter Dynamic Viscosity ',
									required)
									small.help-block(
									ng-show='newProject.dynamicViscosity.$invalid && newProject.dynamicViscosity.$dirty')
										| Evase Inlet/Outlet Area Ratio  is required

						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							div.row
								label.col-lg-5(
								class='control-label',
								for='selectPressure')
									| Outlet Silencer losses Coefficient :
								div.col-lg-2
									select.form-control(ng-model='data.FanAssemblies.OutletSilencer',ng-options='unit.Value as unit.DisplayText for unit in inletSilencer | filter:{ParentId:13} | orderBy:"DisplayText" ')

						.form-group(ng-class="{ 'has-error' : newProject.selectPressure.$invalid && newProject.selectPressure.$dirty}")
							div.row
								label.col-lg-5(
								class='control-label',
								for='selectPressure')
									| Other Outlet losses Coefficient :
								div.col-lg-2
									select.form-control(ng-model='data.FanAssemblies.OutletOtherParts')
										option(value='0') 0
										option(value='1') 1
						.form-group
							a.btn.btn-primary.pull-left(href='#/{{state}}/operatingPoint') Previous
							a.btn.btn-primary.pull-right(href='#/{{state}}/materialControl') Next

